.container {
  height: 85vh;
  margin: auto;
  max-width: 1108px;
  display: flex;
  justify-content: center;
}

.intro {
  width: 40%;
  margin: auto;
}

.signInForm {
  width: 40%;
  margin: auto;
}

.portalTitle {
  color: #02a8e8;
  font-weight: 700;
}

.ButtonWrapper {
  position: relative;
}

@media only screen and (max-width: 868px) {
  .container {
    flex-flow: column;
  }
  .intro {
    visibility: hidden;
    height: 0;
  }
  .signInForm {
    display: flex;
    justify-content: center;
  }
}
