.header {
  height: 14vh;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(00, 00, 00, 0.15);
}
.container {
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  max-width: 1108px;
  /* background-color: red; */
}
.headerLogo {
  height: 50%;
  margin-top: 8px;
}
